footer.mt-5.py-3.bg-dark.text-white
  .container.d-flex.justify-content-between
    span
      | @ 2022 
      strong Pascal
      |  | All Rights Reserved
    ul.mb-0
      li.list-inline-item
        p This project was created for High Tech Hacks 2022 
      li.list-inline-item
        a.text-warning(href='https://github.com/karstenassoua/pascal') GitHub Project
      li.list-inline-item
        a.text-warning(href='https://github.com/karstenassoua/pascal/issues') Issues
      //- li.list-inline-item
      //-   a(href='/privacy-policy.html') Privacy Policy
      //- li.list-inline-item
      //-   a(href='/terms-of-use.html') Terms of Use