extends layout

block content
  .flex-shrink-0
    .container.mt-3
      h1 Community coming soon!
      p.lead Compete with your friends and earn practice points!
      hr
      img.img-fluid(src="/graph.png")