extends layout

block content
  h1 Subjects
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-md-6
      h2 Algebra 1
      p Get comfortable with letters in math — Algebra 1 explores how we can use variables to solve problems through graphing, model situations with functions, take a closer look at inequalities, and understand real-life situations with mathematical expressions.
        a.btn.btn-primary(href='/subjects/algebra-1', role='button') View details »
    .col-md-6
      h2 Geometry
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-primary(href='#', role='button') View details »
    .col-md-6
      h2 Algebra 2
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-primary(href='#', role='button') View details »
    .col-md-6
      h2 Trigonometry
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-primary(href='#', role='button') View details »