extends layout

block content
    .flex-shrink-0
        .container.mt-3
            h1 Lessons
            p.lead Check out lessons from some of the best math teachers!
            hr
            br
            h2 Algebra 1
            p Advance with Algebra 1 — your passport to intermediate mathematics — with 
                a(href='https://www.youtube.com/playlist?list=PLzjlFur5AtcmEwWfFfKnHf_zqoPNZtP_q') guided lectures and videos.
            hr
            .row.mb-4
                .col-lg-3
                    .card(style="border-radius: 10px; overflow: hidden;")
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/NybHckSEQBI')
                        .card-body
                            h3.card-text
                            | What is Algebra?
                .col-lg-3
                    .card(style="border-radius: 10px; overflow: hidden;")
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/VBTunc5gqWU')
                        .card-body
                            h2.card-text
                            | Intro to Solving Equations
                .col-lg-3
                    .card(style="border-radius: 10px; overflow: hidden;")
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/wwkl6xW5qBE')
                        .card-body
                            p.card-text
                            | Simplifying Complex Fractions
                .col-lg-3
                    .card(style="border-radius: 10px; overflow: hidden;")
                        iframe.embed-responsive-item(src='https://youtube.com/embed/wvzBH46D6ho')
                        .card-body
                            p.card-text
                            | Slope and Rate of Change
            br
            h2 Geometry
            p Get your practice with Geometry and see the world in 3D with 
                a(href='https://www.youtube.com/playlist?list=PLzjlFur5AtcmEwWfFfKnHf_zqoPNZtP_q') these walkthroughs.
            hr 
            .row
                .card-deck
                .col-lg-3
                    .card(style="border-radius: 10px; overflow: hidden;")
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/O-cawByg2aA')
                        .card-body
                            p.card-text
                            | Circles, Circumference and Area
                .col-lg-3
                    .card(style="border-radius: 10px; overflow: hidden;")
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/F8kM12l7Ua8')
                        .card-body
                            p.card-text
                            | Types of Triangles
                .col-lg-3
                    .card(style="border-radius: 10px; overflow: hidden;")
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/8vgmNoZjeFw')
                        .card-body
                            p.card-text
                            | Algebraic Thinking in Geometry
                .col-lg-3
                    .card(style="border-radius: 10px; overflow: hidden;")
                        iframe.embed-responsive-item(src='https://www.youtube.com/embed/xCdxURXMdFY')
                        .card-body
                            p.card-text
                            | What is Area? + Area Formulas




    //-Gallery from https://mdbootstrap.com/docs/standard/extended/gallery/