extends layout

block content
  .flex-shrink-0
    .container.mt-5
      h1 Subjects
      p.lead More subjects coming soon!
      hr
      br
      .row
        .col-md-4.mb-5
          .card(style='border-radius: 10px; overflow: hidden;')
            img(src='https://llt.imgix.net/v1/1639706608-algebra1.jpg' style="height: 200px" alt='Algebra 1')
            .card-body
              h2 Algebra 1
              p Get comfortable with letters in math &mdash; Algebra 1 explores how we can use mathematical variables to model real-life situations.
              p
                a.btn.btn-warning(href='https://www.cuemath.com/algebra/algebra-1/' role='button') Learn Algebra 1 &raquo;
        .col-md-4.mb-5
          .card(style='border-radius: 10px; overflow: hidden;')
            img(src='https://png.pngtree.com/background/20210716/original/pngtree-school-education-learning-classroom-teaching-chalk-blackboard-math-background-picture-image_1340510.jpg' style="height: 200px" alt='Geometry')
            .card-body
              h2 Geometry
              p Shapes, shapes, it&apos;s all about shapes! Master the properties of shapes and work new theorems and proofs!
              p
                a.btn.btn-warning(href='https://www.cuemath.com/geometry' role='button') Learn Geometry &raquo;
        .col-md-4.mb-5
          .card(style='border-radius: 10px; overflow: hidden;')
            img.mh-2(src='https://images.unsplash.com/photo-1509228468518-180dd4864904?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ' style="height: 200px" alt='Algebra 2')
            .card-body
              h2 Algebra 2
              p Ready to take your Algebra to the next level? In Algebra 2, tackle tricky inverses, equalities, and functions wth the help of geometry.
              p
                a.btn.btn-warning(href='https://www.cuemath.com/algebra/algebra-2/' role='button') Learn Algebra 2 &raquo;
        .col-md-4.mb-5
          .card(style='border-radius: 10px; overflow: hidden;')
            img.mh-30(src='https://wallpaperaccess.com/full/4013576.jpg' style="height: 200px" alt='Trigonometry')
            .card-body
              h2 Trigonometry
              p In trigonometry, learn the significance of the ratios of the sides of a right-angled triangle. Experiment and master key concepts for calculus.
              p
                a.btn.btn-warning(href='https://www.cuemath.com/trigonometry' role='button') Learn Trigonometry &raquo;
        .col-md-4.mb-5
            .card(style='border-radius: 10px; overflow: hidden;')
              img(src='https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/112121371/original/cfc9a2cfdbb21b73762e320f5fa52940b93ce5cf/do-business-copywriting-solve-calculas-algebra-coordinate-geometry-permutation.jpg' style="height: 200px" alt='Calculus')
              .card-body
                h2 Calculus
                p With calculus, you'll study both the unimaginably big and the infinitesimally small. Take on integrals, derivatives, and and limits.
                p
                  a.btn.btn-warning(href='https://www.cuemath.com/calculus' role='button') Learn Calculus &raquo;
        .col-md-4.mb-5
            .card(style='border-radius: 10px; overflow: hidden;')
              img(src='https://wallpaperaccess.com/full/2871586.png' style="height: 200px" alt='Data and Statistics')
              .card-body
                h2 Data and Statistics
                p Finally! In Data and Statistics, you'll apply everything you've learned, expressions, functions, and formulae, to see the world in new and exciting ways.
                p
                  a.btn.btn-warning(href='https://www.cuemath.com/data/' role='button') Learn Statistics &raquo;